<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            text-align: center;
            padding: 20px;
        }

        h2 {
            font-size: 1.5rem;
            margin-bottom: 20px;
        }

        .form-group {
            margin: 20px 0;
        }

        .form-label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-control {
            width: 30%; /* Adjust the width as needed */
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .btn {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            .btn:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <h2>Add Brand</h2>

    <form method="post">
        <div class="form-group">
            <label for="brandName" class="form-label">Brand Name:</label>
            <input type="text" class="form-control" id="brandName" name="brandName" placeholder="Enter Brand Name">
        </div>

        <div class="form-group">
            <label for="brandDisplayText" class="form-label">Display Text:</label>
            <input type="text" class="form-control" id="brandDisplayText" name="brandDisplayText" placeholder="Enter Display Text">
        </div>

        <div class="form-group">
            <label for="brandAddress" class="form-label">Address:</label>
            <input type="text" class="form-control" id="brandAddress" name="brandAddress" placeholder="Enter Address">
        </div>

        <button type="submit" class="btn">Create</button>
    </form>
</body>
</html>
