<h2>Create User</h2>

<form method="post">
	<div class="mb-3 mt-3">
		<label class="form-label">User First Name:</label>
		<input type="text" class="form-control" placeholder="Enter First Name:" name="firstName">
	</div>

	<div class"mb-3 mt-3"
		<label class="form-label">User Last Name:</label>
		<input type="text" class="form-control" placeholder="Enter Last Name:" name="lastName">
	</div>

	<div class="mb-3 mt-3">
		<label class="form-label">Email:</label>
		<input type="text" class="form-control" placeholder="Enter Email:" name="email">
	</div>

	<div class="mb-3 mt-3">
		<label class="form-label">Password:</label>
		<input type="password" class="form-control" placeholder="Enter Password:" name="password">
	</div>

	<button type="submit" class="btn btn-primary">Create</button>

</form>
